[submodule "external/gameboy-test-roms"]
	path = external/gameboy-test-roms
	url = https://github.com/marcellocordeiro/gameboy-test-roms.git
[submodule "external/SingleStepTests-sm83"]
	path = external/SingleStepTests-sm83
	url = https://github.com/SingleStepTests/sm83.git
[submodule "external/imgui-cmake"]
	path = external/imgui-cmake
	url = https://github.com/marcellocordeiro/imgui-cmake.git
