name: Vercel Production Deployment

on:
  push:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/eframe
    steps:
      - uses: actions/checkout@v6
      - uses: cargo-bins/cargo-binstall@main

      - name: Update Rust toolchain
        run: rustup update

      - name: Install wasm32-unknown-unknown target
        run: rustup target add wasm32-unknown-unknown

      - name: Install trunk
        run: cargo binstall trunk --no-confirm

      - name: Install Vercel CLI
        run: npm install -g vercel@latest

      - name: Link Vercel project
        run: vercel link --yes --token=${{ secrets.VERCEL_TOKEN }}

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
